

.main-div {
    display: flex; 
    flex-direction: column; 
}

.button{
    align-self: center; 
    margin-bottom: 5%; 
    background-color: #E5E8B6;
    width: 20%; 
    padding: 2%;
    border-radius: 10px; 
    text-decoration: none; 
}

.names {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap; 
}

.friend {
    margin-top: 20px; 
    width: 45%; 
    border: 1px solid black; 
    border-radius: 20px; 
    background: #7D869C; 
}
